@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*    background-color: #242424; !* Dark mode background *!*/
/*}*/

body {
    margin: 0;
    background: black;
    color: #00ff00;
    font-family: monospace;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 320px;
    border: 1px solid #00ff00;
}

.status {
    margin-top: 10px;
    font-size: 14px;
}
